.button {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 210px;
	height: 50px;
	text-align: center;
	border: 1px solid #000000;
	cursor: pointer;

	&_apply {
		background-color: #ffc802;

		&:hover {
			background-color: #ffedab;
		}
	}

	&_clear {
		background-color: white;

		&:hover {
			background-color: #000000;

			.text {
				color: white;
			}
		}
	}

	&_disabled {
		cursor: not-allowed;
		opacity: 0.5;

		&:hover {
			background-color: inherit;
		}
	}
}
