.selectWrapper {
	position: relative;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.arrow {
	position: absolute;
	top: 50%;
	right: 6px;
	width: 24px;
	margin-top: -12px;
	transition: transform 0.2s ease-in-out, margin-top 0.2s ease-in-out;
}

.placeholder {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	padding: 15px 17px;
	background: #ffffff;
	border: 1px solid #000000;
	cursor: pointer;

	&[data-selected='true'] {
		color: #000000;
	}
}

.selectWrapper[data-is-active='true'] {
	.arrow {
		margin-top: -14px;
		transform: rotate(180deg);
	}

	.placeholder {
		border: 3px solid #000000;
	}
}

.selectWrapper:not([data-is-active='true']) .placeholder:hover {
	border: 1px solid #ffc802;
}

.select {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;
	display: grid;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #ffffff;
	border: 3px solid #000000;
	border-top: none;
}

.option {
	position: relative;
	display: flex;
	align-items: center;
	height: 30px;
	padding: 15px 17px;
	background: #ffffff;
	cursor: pointer;

	&[aria-selected='true'] {
		background: rgb(0 0 0 / 5%);
	}

	&:hover {
		background: #c4c4c4;
	}
}

.optionIcon {
	position: relative;
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	border: 1px solid #000000;
}

.option-black .optionIcon {
	background-color: #000000;
}

.option-white .optionIcon {
	background-color: #ffffff;
}

.option-gray .optionIcon {
	background-color: #c4c4c4;
}

.option-pink .optionIcon {
	background-color: #feafe8;
}

.option-fuchsia .optionIcon {
	background-color: #fd24af;
}

.option-yellow .optionIcon {
	background-color: #ffc802;
}

.option-green .optionIcon {
	background-color: #80d994;
}

.option-blue .optionIcon {
	background-color: #6fc1fd;
}

.option-purple .optionIcon {
	background-color: #5f0dee;
}

.option-wide .optionIcon,
.option-narrow .optionIcon {
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: none;
}

.option-wide .optionIcon {
	background-image: url('../../images/wide.svg');
}

.option-narrow .optionIcon {
	background-image: url('../../images/narrow.svg');
}

.selectedWithIcon {
	display: flex;
	align-items: center;
	gap: 8px;
}

.selectedWithIcon .optionIcon.option-black {
	background-color: #000000;
}

.selectedWithIcon .optionIcon.option-white {
	background-color: #ffffff;
}

.selectedWithIcon .optionIcon.option-gray {
	background-color: #c4c4c4;
}

.selectedWithIcon .optionIcon.option-pink {
	background-color: #feafe8;
}

.selectedWithIcon .optionIcon.option-fuchsia {
	background-color: #fd24af;
}

.selectedWithIcon .optionIcon.option-yellow {
	background-color: #ffc802;
}

.selectedWithIcon .optionIcon.option-green {
	background-color: #80d994;
}

.selectedWithIcon .optionIcon.option-blue {
	background-color: #6fc1fd;
}

.selectedWithIcon .optionIcon.option-purple {
	background-color: #5f0dee;
}

.selectedWithIcon .optionIcon::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 8px;
	background: #ffffff;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.selectedWithIcon .optionIcon.option-white::after {
	background: #000000;
}

.selectedWithIcon .optionIcon.option-wide,
.selectedWithIcon .optionIcon.option-narrow {
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: none;
}

.selectedWithIcon .optionIcon.option-wide::after,
.selectedWithIcon .optionIcon.option-narrow::after {
	display: none;
}

.selectedWithIcon .optionIcon.option-wide {
	background-image: url('../../images/wide.svg');
}

.selectedWithIcon .optionIcon.option-narrow {
	background-image: url('../../images/narrow.svg');
}
